<launch>
  <arg name="colorInput" default = "red"/>
  <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
  </include>
  <!--  <node name="rqt" pkg="rqt_gui" type="rqt_gui">
</node> -->
<node name="kuka" pkg="kitting_cell" type="kuka"  output="screen">
  <param name="colorInput" value="$(arg colorInput)"/>
</node>
</launch>
